<div class="container" ng-controller="sessionsCtrl" ng-init="setup(<%= @session_id %>)">

    <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Style: {{sortStyle}}<span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li><a ng-click="sortBy('all')">All Styles</a></li>
       <% @styles.each_key do |key| %>
        <li><a ng-click="sortBy('<%= key %>')"><%= key %></a></li>
       <% end %>
    </ul>
    </div>

     <button ng-click="showCommonSongs()">Show Common songs</button>
     <button ng-click="showIndividualSongs()">Show All Users Songs</button>
     <button ng-click="showRandomCommonSong()">Call a random tune!</button>

     <br>
     <br>
     <br>
     <div class="input-group">
      <span class="input-group-btn">
      </span>
      <input ng-model="sortTitle" type="text" class="form-control" placeholder="Song Name filter">
    </div><!-- /input-group -->
    <br>

        <div ng-click="playSong(randomSong)" ng-show="randSongShow" class="col-lg-4 row well"> 
          <h1 style="color:#2a9fd6;"> {{randomSong.title}} </h1><hr>
          <h3 style="color:#2a9fd6;"> Composer: {{randSongComposer}} </h3>
          <h3 style="color:#2a9fd6;"> Style: {{randomSong.style}} </h3>
        </div>


     <table ng-if="showCommon" class="table table-hover" width="100%">
    <thead>
      <tr style="color:red;">
        <td width="30%">Title</td>
        <td width="30%">Style</td>
        <td width="30%">Composer</td>
      </tr>
    </thead>
    <tbody ng-repeat="song in firstUserSongs | filter: {style: sortStyle} | filter: {title: sortTitle}">
      <tr ng-click="playSong(song)" ng-if="song.isInCommon">
        <td width="30%">{{song.title}}</td> 
        <td width="30%">{{song.composer}}</dt>
        <td width="30%">{{song.style}}</td>
      </tr>
    </tbody>
  </table>

     <div ng-if="showIndividual" ng-repeat="array in songs">
      <div class="col-lg-4">
        <ul class="list-group">
          <div ng-repeat="user in array">
            <h3 class="list-group-item"> {{user.first_name}} {{user.last_name}} </h3>
          </div>
          <div ng-repeat="object in array.song_array | orderBy:'title' | filter: {title: sortTitle}">
            <li ng-if="isCommon(object)" style="color:green;" class="list-group-item"> {{object.title}}</li>
          </div>
          <div ng-repeat="object in array.song_array | orderBy:'title' | filter: {title: sortTitle}">
            <li ng-if="isNotCommon(object)" class="list-group-item"> {{object.title}} </li>
          </div>
        </ul>
      </div>
     </div>

     <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"> {{currentTitle}} </h4>
        </div>
        <div class="modal-body">
          <p> {{currentComposer}} </p>
          <audio id="audio" ng-src="{{previewUrl}}" controls>
          Your browser does not support the audio element.
          </audio>
        </div>
        <div class="modal-footer">
          <button id="audioClose" ng-click="endSong()" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

</div>