<h1>add songs to your repetoire</h1>

<%= bootstrap_form_tag url: '/songs/create', method: :post do %>
<div class="col-xs-7" class="form-group">
  <label for="Title">Title of song</label>
  <input style="color:black;" class="form-control" type="text" name="title" id="location" value="Enter title here">
</div>
<div class="col-xs-7" class="form-group">
  <label for="style">style of song</label>
  <input style="color:black;" class="form-control" type="text" name="style" id="location" value="Enter style here">
</div>
<div class="col-xs-7" class="form-group">
  <label for="composer">composer of song</label>
  <input style="color:black;" class="form-control" type="text" name="composer" id="location" value="Enter composer here">
</div>
<div class="col-xs-7" class="form-group">
  <button class="btn btn-default" name="button" type="submit">Create Song</button>
</div>
<% end %>

