<h1>Top Ten Songs in Real Session</h1>
<table class="table table-hover" width="100%">
    <thead>
      <tr style="color:red;">
        <td width="50%">Title</td>
        <td width="50%">Number of Users</td>
      </tr>
    </thead>
    <tbody>
        <% @top_ten.each do |song, count| %>
      <tr>
          <td width="50%"><%= song.title %></td>
          <td width="50%"><%= count %></dt>
      </tr>
        <% end %>
    </tbody>
  </table>

<h1>Users ranked by repertoire length</h1>

<table class="table table-hover" width="100%">
    <thead>
      <tr style="color:red;">
        <td width="50%">User</td>
        <td width="50%">Length of repertoire</td>
      </tr>
    </thead>
    <tbody>
        <% @top_five_users.each do |user, count| %>
      <tr>
          <td width="50%"><%= user.full_name %></td>
          <td width="50%"><%= count %></dt>
      </tr>
        <% end %>
    </tbody>
  </table>